<div class="container text-center">

        <!-- Table to Display All Job Info -->
        <div class="row">
            <div class="col">
                <div class="table">
                    <h1>All Listed Jobsites</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Jobsite ID</th>
                                <th>Jobsite Name</th>
                                <th>Address</th>
                                <th>Primary Contact</th>
                                <th>Phone Number</th>
                                <th>E-mail</th>
                                <th>Location Expenses</th>
                                <th>Location Revenue</th>
                                <th>Location Profit</th>
                                <th>Location Created</th>
                                <th>Location Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each jobsites}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{jobsite_name}}</td>
                                <td>{{address}}</td>
                                <td>{{primary_contact}}</td>
                                <td>{{phone_number}}</td>
                                <td>{{email}}</td>
                                <td>${{location_expenses}}</td>
                                <td>${{location_revenue}}</td>
                                <td>{{location_profits}}</td>
                                <td>{{createdAt}}</td>
                                <td>{{updatedAt}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>