<link rel="stylesheet" href="/styles/table.css">
<div class="container text-center">
    <div class="row text-center">
        <div class="col">

            <button id="managerBtn" type="button" class="btn btn-primary">Return</button>
        </div>
        {{!-- <div class="col">
                <button id="foremanBtn" type="button" class="btn">Foreman</button>
            </div> --}}
    </div>
    <!-- Table to Display All Job Info -->
    <div class="row">
        <div class="col" id="tableBody">
            <div class="table" id="jobSiteTable1">
                <h1>All Listed Supevisors</h1>
                <table class="table table-responsive" id="jobSiteTable2">
                    <thead>
                        <tr>
                            <th>Supervisor ID</th>
                            <th>Supervisor Name</th>
                            <th>Supervisor Specialties</th>
                            <th>Jobs Expenses</th>
                            <th>Jobs Revenues</th>
                            <th>Jobs Profits</th>
                            <th>Location Created</th>
                            <th>Location Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each supervisors}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{supervisor_name}}</td>
                            <td>{{specialties}}</td>
                            <td>${{jobs_expenses}}</td>
                            <td>${{jobs_revenue}}</td>
                            <td>${{jobs_profits}}</td>
                            <td>{{createdAt}}</td>
                            <td>{{updatedAt}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>