 <div class="container text-center">

        <!-- Table to Display All Job Info -->
        <div class="row">
            <div class="col">
                <div class="table">
                    <h1>All Listed Jobs</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Job ID</th>
                                <th>Supervisor</th>
                                <th>Job Site</th>
                                <th>Project Bid</th>
                                <th>Project Name</th>
                                <th>Hours</th>
                                <th>Workers</th>
                                <th>Wages Paid</th>
                                <th>Material Costs</th>
                                <th>Job Profits</th>
                                <th>Job Comments</th>
                                <th>Job Created</th>
                                <th>Last Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each projects}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{supervisor_id}}</td>
                                <td>{{jobsite_id}}</td>
                                <td>${{project_bid}}</td>
                                <td>{{project_name}}</td>
                                <td>{{hours}}</td>
                                <td>{{workers}}</td>
                                <td>${{wagecosts}}</td>
                                <td>${{materialcosts}}</td>
                                <td>${{profit}}</td>
                                <td>{{jobcomments}}</td>
                                <td>{{createdAt}}</td>
                                <td>{{updatedAt}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
